/* Colors:
$blue:				#7AB1DF;
$darkblue:			#5B8BC0;
$lightblue:			#C5DFF7;
$whiteblue:			#EAF2FA;

$darkbrown:			#80715D;
$lightbrown:		#B3ABA1;

$orange:			#F8B02B;
$red: 				#E54F2D;
$green:				#B7D26B;
$pink:				#E96E8E;

$black:				#555;
$dark-gray:			#888;
$gray:				#CCC;
$offblack:			#3C434A;

$white: 			#FFF;
$offwhite:			#F4F4F4;
*/

html, body {
	color: #F4F4F4;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 150%;
	color: #555;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 120%;
}
a {
	color: #7AB1DF;
	text-decoration: none;
}

.container {
	max-width: 600px;
	margin: 40px auto;
	padding: 0 10px;
}

/* Player */
.controlbar {
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	max-width: 400px;
	width: 100%;
	margin: 20px auto;
	padding: 15px 20px 10px;
	border-radius: 5px;
}

.time {
	clear: both;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	font-size: 12px;
	line-height: 12px;
}

.button {
	font-size: 22px;
	padding: 4px;
	float: left;
}

.mute.button, .unmute.button {
	float: right;
}

.progressbar {
	clear: both;
	border-radius: 3px;
	border: 1px solid #FFF;
	margin: 5px 0;
}
.progressbar .progress-indicator {
	background-color: #FFF;
}

.volume-slider {
	float: right;
	width: 100px;
	border-radius: 3px;
	border: 1px solid #FFF;
	margin: 11px 0 11px 5px;
}
.volume-slider .volume-indicator {
	background-color: #FFF;
}

.quality-selector {
	float: left;
	position: relative;
}
.quality-selector .button {
	float: none;
}
.quality-list {
	position: absolute;
	bottom: 100%;
	background-color: #FFF;
    color: #333;
    padding: 0;
	margin: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.quality-list li {
	list-style: none;
	padding: 5px 10px;
    white-space: nowrap;
	cursor: pointer;
}
.quality-list li:hover {
	background-color: #EEE;
    color: #333;
}
.quality-list li.active {
	font-weight: bold;
}

.big-play, .play-next {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px -50px 0;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
    text-align: center;
    padding: 20px 0 20px 10px;
    box-sizing: border-box;
	cursor: pointer;
}
.big-play i, .play-next i {
	display: block;
	color: #FFF;
	font-size: 60px;
}
.play-next {
	padding: 10px;
	color: #FFF;
}
.fullscreen.button .fa-compress {
	display: none;
}
#player.fullscreen .fullscreen.button .fa-expand {
	display: none;
}
#player.fullscreen .fullscreen.button .fa-compress {
	display: block;
}